<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="dnGLua" value="https://nuget.pkg.github.com/dnGLua/index.json" protocolVersion="3" />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceCredentials>
        <dnGLua>
            <add key="Username" value="Cheatoid" />
            <add key="ClearTextPassword" value="%DNGLUA_GPR_AUTH_TOKEN%" />
        </dnGLua>
    </packageSourceCredentials>
    <!--
    <apikeys>
        <add key="https://nuget.pkg.github.com/dnGLua/index.json" value="%GITHUB_TOKEN%" />
        <add key="https://api.nuget.org/v3/index.json" value="%NUGET_API_KEY%" />
    </apikeys>
    -->
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
</configuration>
